In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import numpy.random as npr
import random

In [3]:
path = '../Dataset/Dataset.tsv'

# Read the dataset
df = pd.read_csv(path, sep='\t')

df.head()

,Study ID,Patient ID,Sample ID,Age in years,Absolute Neutrophil Count (G/L),BM Blast (%),Chromosomal Status at TP53,CNACS Called Chr Arm Gain,CNACS Called Chr Arm Loss,CNACS Called Chr Arm Upd,...,Overall Survival (Months),Overall Survival Status,PB Blast (%),Platelet (G/L),Ringed Sideroblast (%),Number of Samples Per Patient,Sex,TMB (nonsynonymous),White Blood Cell Count (G/L),WHO 2016 Classification
0,mds_iwg_2022,E-H-100000,E-H-100000-T1-1-D1-1,57.0,4.65,3.0,normal,NaN,5q,NaN,...,69.830137,0:LIVING,0.0,406.0,NaN,1,Female,23.920896,7.50,MDS-del5q
1,mds_iwg_2022,E-H-100001,E-H-100001-T1-1-D1-1,56.0,2.88,2.0,normal,NaN,5q,NaN,...,34.290411,0:LIVING,0.0,364.0,NaN,1,Female,6.523881,7.21,MDS-del5q
2,mds_iwg_2022,E-H-100002,E-H-100002-T1-1-D1-1,72.0,0.49,15.0,cnloh,NaN,5q,17p,...,3.682192,1:DECEASED,0.0,35.0,NaN,1,Female,6.523881,2.60,MDS-EB2
3,mds_iwg_2022,E-H-100004,E-H-100004-T1-1-D1-1,40.0,1.56,3.0,normal,NaN,NaN,NaN,...,62.235616,0:LIVING,0.0,708.0,NaN,1,Female,4.349254,2.55,MDS/MPN-U
4,mds_iwg_2022,E-H-100005,E-H-100005-T1-1-D1-1,45.0,1.25,2.0,normal,NaN,NaN,NaN,...,67.758904,0:LIVING,0.0,141.0,NaN,1,Female,6.523881,2.31,MDS-MLD

In [4]:
#drop column Study ID
df = df.drop(['Study ID'], axis=1)
df = df.drop(['Sample ID'], axis=1)
df = df.drop(['Number of Samples Per Patient'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3323 entries, 0 to 3322
Data columns (total 35 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       3323 non-null   object
 1   Age in years                     3303 non-null   float64
 2   Absolute Neutrophil Count (G/L)  3130 non-null   float64
 3   BM Blast (%)                     3214 non-null   float64
 4   Chromosomal Status at TP53       3323 non-null   object
 5   CNACS Called Chr Arm Gain        159 non-null    object
 6   CNACS Called Chr Arm Loss        668 non-null    object
 7   CNACS Called Chr Arm Upd         359 non-null    object
 8   CNACS Called Gene Gain           150 non-null    object
 9   CNACS Called Gene Loss           647 non-null    object
 10  CNACS Called Gene Upd            355 non-null    object
 11  Complex Karyotype                3323 non-null   object
 12  Cytogenetics                     2936 non-null   object
 13  IPSS-R Cytogenetic Category      3177 non-null   object
 14  FLT3 ITD                         3323 non-null   bool
 15  Hemoglobin (g/dL)                3213 non-null   float64
 16  IPSS-M                           2701 non-null   object
 17  IPSS-M Score                     2701 non-null   float64
 18  IPSS-R                           3102 non-null   object
 19  IPSS-R Score                     2988 non-null   float64
 20  Leukemia Free Survival (Months)  2792 non-null   float64
 21  Leukemia Free Survival Status    2792 non-null   object
 22  Type of MDS                      3137 non-null   object
 23  MLL PTD                          3323 non-null   bool
 24  Monocyte Count (G/L)             2722 non-null   float64
 25  Mutation Count                   3227 non-null   float64
 26  Overall Survival (Months)        3173 non-null   float64
 27  Overall Survival Status          3173 non-null   object
 28  PB Blast (%)                     2694 non-null   float64
 29  Platelet (G/L)                   3199 non-null   float64
 30  Ringed Sideroblast (%)           670 non-null    float64
 31  Sex                              3323 non-null   object
 32  TMB (nonsynonymous)              3323 non-null   float64
 33  White Blood Cell Count (G/L)     3051 non-null   float64
 34  WHO 2016 Classification          3236 non-null   object
dtypes: bool(2), float64(15), object(18)
memory usage: 863.3+ KB

In [9]:
col_names = ['Age in years ', 'Sex', 'IPSS-M ', 'IPSS-R', 'Mutation Count', 'TMB (nonsynonymous)']

df.dropna(subset=col_names, inplace=True)

for col in col_names:
    print(col+'\t')
    n = len(df[col].unique())
    print(df[col].unique())
    print('total of uniques: ', n)
    print('------------------------')

Age in years
[ 57.  56.  72.  40.  45.  54.  53.  60.  59.  33.  21.  63.  58.  67.
  66.  61.  64.  29.  78.  73.  79.  70.  80.  52.  95.  77.  81.  65.
  76.  83.  82.  50.  88.  87.  74.  62.  68.  75.  48.  55.  46.  51.
  71.  85.  43.  69.  92.  44.  34.  49.  37.  84.  36.  47.  42.  23.
  19.  22.  28.  41.  31.  91.  35.  89.  30.  86.  39.  38.  26.  18.
  16. 100.  32.  93.  94.  90.  27.  99.  96.  97.  98.  24.  25.  12.]
total of uniques:  84
------------------------
Sex
['Female' 'Male']
total of uniques:  2
------------------------
IPSS-M
['Moderate-Low' 'Low' 'Very-High' 'Very-Low' 'Moderate-High' 'High']
total of uniques:  6
------------------------
IPSS-R
['Low' 'Very-High' 'Int' 'Very-Low' 'High']
total of uniques:  5
------------------------
Mutation Count
[11.  3.  2.  6.  5.  4.  9.  8.  1. 10.  7. 15. 12. 13. 17. 42. 14. 16.
 26. 21.]
total of uniques:  20
------------------------
TMB (nonsynonymous)
[23.92089577  6.52388067  4.34925378 13.04776133 10.87313444  8.69850755
 19.571642   17.39701511  2.17462689 21.74626888 15.22238822 32.61940333
 26.09552266 28.27014955 36.9686571  91.33432931 30.44477644 56.5402991
 45.66716466  0.        ]
total of uniques:  20
------------------------